@charset "utf-8";
/* CSS Document */

#home-left {
	width:725px;
	height:540px;
	position:relative;
}
#home-right {
	width:250px;
	height:540px;
	background:#D0D2D3 url(../images/content-r-about.png) no-repeat top left;
	position:relative;
}
#text {
	font:Arial, Helvetica, sans-serif;
	line-height:1.6em;
	font-size:15px;
	width:220px;
	text-align:justify;
	padding-left:15px;
	position:absolute;
	bottom:15px;
}
