@charset "utf-8";
/* CSS Document */

#service-left{width:725px;
height:540px;
background:#725C47 url(../images/service-left-01.png) no-repeat top left;
position:relative;}

#text{font:Arial, Helvetica, sans-serif;
color:#FFF;
line-height:2em;
padding-left:50px;
margin:30% auto;
font-size:16px;
position:absolute;}

#service-right{
width:250px;
height:540px;
background:#D0D2D3 url(../images/service-right-01.jpg) no-repeat top left;
position:relative;}

